#xthemes-options .nav-options{
    margin-top: -49px;
    padding: 0 4px;
    border-radius: 0;
}
#xthemes-options .nav-options li{
    background: rgba(0,0,0,0.6);
}
#xthemes-options .fa{
    font-size: 100%;
}
#xthemes-options .nav-options li > a{
    padding: 0;
    line-height: 49px;
    border-radius: 0;
}
#xthemes-options .nav-options li > a:hover{
    background: rgba(0,0,0,0.6);
}
#xthemes-options .nav-options .fa{
    font-size: 100%;
    color: #FFF;
}
#xthemes-options hr{
    margin: 10px 0;
}
.xthemes-social:last-child > li > a{
    font-size: 1.3em;
    background: rgba(0,0,0,0.15);
    color: #FFF;
    display: block;
    line-height: 1em;
    padding: 4px 7px;
}
