/*!
xThemes for XOOPS
Author: Eduardo Cortés <www.eduardocortes.mx>
License: GPL 2 or newer
Url: http://www.redmexico.com.mx
*/

@import "https://raw.githubusercontent.com/bitcero/rmcommon/master/src/helium/less/bootstrap/variables.less";
@import "https://raw.githubusercontent.com/bitcero/rmcommon/master/src/helium/less/helium/variables.less";

@import 'variables/dashboard';
@import 'variables/themes';
@import 'variables/settings';